/**
 * index.scss
 * - Add any styles you want here!
 */
.header {
  background-color: rgba(255, 167, 167, 0.6);
  padding: 10px;
}

.navigation-elements {
  list-style-type: none;
  margin: 10;
  padding: 0;
}

.navigation-elements li {
  display: inline;
}

body {
  background: lightblue;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.wrapper {
  width: 60%;
}

.mainpage-intro, .mainpage-about, .mainpage-passion {
  color: white;
  padding: 50px;
  margin: 10px;
  border: 3px black;
  border-style: ridge;
  border-color: #d5bacd;
}
