/**
 * index.scss
 * - Add any styles you want here!
 */
.header {
  background-color: orange;
  padding: 10px
}

body {
  background: lightblue;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.wrapper {
  width: 60%;
}

.mainpage-intro {
  color: white;
  padding: 50px;
  margin: 10px;
  border: 2px solid black;
}